<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- // <script src="/js/lib/selectorgadget.js"></script> -->
  </head>
  <body>
    <div style="font-size:1.5em">
      拖拽这个超连接到收藏夹: <a href="javascript:(function(){var%20s=document.createElement('div');s.innerHTML='Loading...';s.style.color='#fff';s.style.padding='8px';s.style.position='fixed';s.style.zIndex='9999';s.style.fontSize='20px';s.style.fontStyle='normal';s.style.fontFamily='Helvetica,Arial,sans-serif';s.style.borderRadius='5px';s.style.right='5px';s.style.top='5px';s.setAttribute('class','selector_gadget_loading');s.style.lineHeight='1';s.style.background='#000';s.style.opacity='0.3';s.style.filter='alpha(opacity=30)';document.body.appendChild(s);s=document.createElement('script');s.setAttribute('type','text/javascript');s.setAttribute('charset','utf8');s.setAttribute('src','https://raw.github.com/Tank000/pretty/master/public/js/lib/selectorgadget.js');document.body.appendChild(s);})();">Pretty</a>
    </div>
    <div class="blk_content">
            <h1 id="artibodyTitle" pid="1" tid="1" did="25306748" fid="1666">国台办主任王毅会见谢长廷 双方认为见面有益</h1>
            <div class="artInfo" id="blk_n001_003"><span id="pub_date">2012年10月06日23:42</span>&nbsp;&nbsp;<span id="media_name"><a href="http://www.xinhuanet.com/" target="_blank">新华网</a>  </span></div>
            <div class="blk_fn_t"><a href="javascript:doZoom(16)">大</a> <a href="javascript:doZoom(14)">中</a> <a href="javascript:doZoom(12)">小</a> <a href="javascript:LoadFullViewJs();">全文浏览</a></div>
            <!-- 正文内容 begin -->
            <div class="blkContainerSblkCon BSHARE_POP" id="artibody">

<p>　　新华社北京10月6日电 国务院台办发言人杨毅应询时表示，国务院台办主任王毅6日在北京与谢长廷先生见面。王毅介绍了大陆发展现状和前景，说明了大陆的对台方针政策。双方都认为见面是有益的。</p>

<p>　　谢长廷先生是以个人身份、以台湾维新基金会董事长名义来大陆参访的。(完)</p>

            </div>
            <div class="blk_fn_b">
                <div class="bf_l" id="blk_n001_004">
                <!-- 转发到微博 begin -->
<div id="sinashareto">
  <span style="float:left;line-height:25px;padding-right:5px;padding-top:3px;">分享到:</span>
  <div class="bshare-custom icon-medium" style="float:left"><a title="分享到新浪微博" class="bshare-sinaminiblog" href="javascript:void(0);"></a><a title="分享到QQ空间" class="bshare-qzone" href="javascript:void(0);"></a><a title="分享到腾讯微博" class="bshare-qqmb" href="javascript:void(0);"></a><a title="分享到人人网" class="bshare-renren" href="javascript:void(0);"></a><a title="分享到飞信" class="bshare-feixin" href="javascript:void(0);"></a><a title="分享到MSN" class="bshare-msn" href="javascript:void(0);"></a><a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a></div>

</div>


                </div>
                <div class="bf_r" id="blk_n001_006"><a href="javascript:SinaSavePage.save();">保存</a> <a href="javascript:LoadPrintJs();">打印</a> <a href="javascript:window.close()">关闭</a></div>
            </div>
        </div>
  </body>
</html>